<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <title>{% if page.title %}{{ page.title  }} - {% endif %}blog.willem-jan.net - Just some rambling about (web)development</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/js/prism.js"></script>
    <script type="text/javascript" src="/js/prism.hooks.js"></script>
    <link rel="icon" type="image/ico" href="/img/favicon.ico" />
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5505825-8']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="wrapper">

        <header class="block padded">
            <span class="alpha">blog.willem-jan.net</span>
        </header>

        <div class="page">

            <div class="sidebar">

                <ul class="main">
                    <li><a href="{{ site.url }}/">Home</a></li>
                    {#<li><a href="{{ site.url }}/">About me</a></li>#}
                    <li><a href="{{ site.url }}/blog">Archive</a></li>
                    <li><a href="{{ site.url }}/rss.xml">RSS <img src="/img/feed-icon-14x14.png" alt="" title="RSS Feed" /></a></li>
                </ul>

                <div class="intro">
                <h3>Short intro</h3>
                <p>I'm Willem-Jan. My GitHub and IRC handles are <a href="http://github.com/wjzijderveld">wjzijderveld</a> and my Twitter handle is <a href="http://twitter.com/willemjanz">@willemjanz</a>.</p>
                </div>

                <div class="block no-padding textads">
                    {% include '_adsense.html.twig' %}
                </div>
            </div>

            {% block content_wrapper %}
                {% block content %}{% endblock %}
            {% endblock %}

        </div>

        <footer class="block padded">
            &copy; 2013 Willem-Jan Zijderveld - all rights reserved
        </footer>
    </div>
</body>
</html>