---
permalink: rss.xml
generator:
- pagination
pagination:
  max_per_page: 20
use:
- posts
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>{{ site.title }}</title>
        <link>{{ site.url }}</link>
        <description>On this blog I try to regularly talk about my experiences with development.</description>
        <language>en</language>
        {% for post in page.pagination.items %}
        <item>
            <title>{{ post.title }}</title>
            <description><![CDATA[{{ post.blocks.content|raw }}]]></description>
            <pubDate>{{ post.date|date('D, d M Y H:i:s O') }}</pubDate>
            <guid>{{ site.url }}{{ post.url }}</guid>
            <link>{{ site.url }}{{ post.url }}</link>
        </item>
        {% endfor %}
    </channel>
</rss>